.containerGrap {
  padding: 30px 100px 30px 50px;
  text-align: center;

}
.allGrapes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  text-align: center;
}
.graH2 {
  padding: 10px 0px;
}
.vegeP {
  padding: 10px 0px;
  text-align: center;
}
.price {
  padding: 0px;
}
.imagesGra {
  border: 1px solid gray;
  border-radius: 20px;
}
.imagesGra img {
  width: 100%;
  border-radius: 20px;
}
.addCart {
  margin: 0px;
}
.aboutGra {
  margin-top: 100px;
  text-align: center;
}
.categories input {
  padding: 20px 30px;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}
.categories h2 {
  color: #45595b;
  padding: 20px 0px;
}
.yanYanas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apples {
  color: yellowgreen;
  padding: 10px 0px;
}
.numbers {
  color: gray;
}
.allIconslar {
  padding: 10px 0px;
  font-size: 20px;
  color: rgb(231, 231, 4);
}

.btn1 {
  color: gray;
  background-color: #f4f6f8;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 20px;
}
.the {
  padding: 0px;
  text-align: center;
}
.the2 {
  padding: 10px 0px;
  text-align: center;
}
.btn1:hover {
  color: gray;
  background-color: #f4f6f8;
  border: 1px solid greenyellow;
}
.reqem {
  margin: 30px 10px 0px 10px;
}

.counter {
  text-align: center;
}
.name {
  margin-top: 30px;
}
.allBtns {
  display: flex;
  justify-content: center;

}

@media (max-width: 1440px) {
  .allGrapes {
    display: flex;
  }
}

@media (max-width: 800px) {
  .allGrapes {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .allGrapes {
    display: flex;
    flex-direction: column;
  }
}
